<!doctype html>
<html>
  <head>
    <title>Cosmo</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link type="text/css" rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
  </head>
  <body>
    <nav>
	  <ul>
        <li><a href="{{ url_for('main.index') }}">Astronaut list</a></li>
		<li><a href="{{ url_for('main.xmlimport') }}">Import</a></li>
		<li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
	  </ul>
{% if current_user.is_authenticated %}
      <div id="user">User: <b>{{ current_user.user_id }}</b></div>
{% endif %}
	  <div class="clear"></div>
	</nav>

	{% block content %}{% endblock %}

  </body>
</html>
