{% extends 'base.html' %}
{% block content %}
  <div id="import">
    <label for="xmlimport">Upload a XML file to import:</label>
	<input type="file" id="xmlimport"><br>
	<label for="clean">Clear database before import</label>
	<input type="checkbox" id="clean"><br>
    <input type="button" id="xmlimport_submit" value="Submit">
	<p id="status"></p>
  </div>

    <script>
		$(function() {
		    $("#xmlimport_submit").on('click', function() {
				var data = new FormData();
				data.append("file", $("#xmlimport").get(0).files[0]);
				$("#status").text("Processing...");
				var url = "{{ url_for('rest.xmlimport') }}";
				if ($("#clean").is(":checked")) {
					url += "?clean";
				}
		        $.ajax({
		            type: "POST",
					url: url,
		            data: data,
					processData: false,
					contentType: false,
           			success: function(response) {
           				$("#status").text("Done. " + response.rowsImported + " rows imported.");
		            },
           			error: function(response) {
						$("#status").text(response.responseJSON.error);
		        	}
    			});
            });
   	    });
    </script>
{% endblock %}
