body {
	font-family: sans-serif;
}

nav {
	background-color: navy;
	color: white;
	padding: 1ex 0ex;
}

nav a {
	color: white;
	text-decoration: none;
}

nav ul {
	float: left;
	margin: auto 0;
	padding: 0;
}

nav li {
	display: inline;
	font-weight: bold;
	margin-left: 2ex;
}

#user {
	float: right;
	margin-right: 2ex;
}

#import {
	margin: 1ex;
}

div.clear {
	clear: both;
}
